/* This will overwrite any (ish) Bootstrap CSS */

body {
    background-color: #C6E8E8;
}

.container {
    padding-top: 1em;
}

.header, .footer {
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 0.25em;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-text, .footer-text {
    padding-top: 12px;
}

.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

hr {
    border: 1px solid #000000;
}

.hr-bar-top, .hr-bar-bottom {
    margin-left: 1em;
    margin-right: 1em;
}

.vr {
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid #000000;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-patterns-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.patterns-empty-text {
    padding-top: 5em;
}

.content-patterns {
    border-style: solid;
    padding: 1em;
    background-color: #C4EBC4;
    width: 1090px;
}

.patterns {
    height: 594px;
}

.pattern {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pattern-input {
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
}

.content-buttons {
    border-style: solid;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #C4EBC4;
}

tr {
    border: 2px solid gray;
}

td {
    border-bottom: none;
}

.toast-header {
    background-color: wheat;
}

.toast-body {
    background-color: wheat;
}