body {
    background-color: #C6E8E8;
}

h3 {
    margin-top: 0.3em;
}

hr {
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid gray;
}

.current-site {
    padding-top: 1em;
    padding-bottom: 1em;
}

.add-site {
    padding-top: 1em;
    padding-bottom: 1em;
}

.content-buttons {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}