/* This will overwrite any (ish) Bootstrap CSS */

body {
    background-color: #C6E8E8;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    border-style: double;
}

hr {
    border: 1px solid #000000;
}

.website {
    overflow-x: auto;
    overflow-y: hidden;
}

.content-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}