/* This will overwrite any Bootstrap CSS */

body {
    background-color: #C6E8E8;
}

hr {
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px solid gray;
}

h3 {
    margin-top: 0.3em;
}

.table {
    margin-bottom: 0em;
}

tr {
    border: 2px solid gray;
}

.container-space-between {
    display: flex;
    justify-content: space-between;
}

.patterns {
    padding: 5px;
}