<!DOCTYPE html>
<html>
  <head>
    <title>HTTP Request Blocker | History</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/dygraph/dygraph.css" />
    <link rel="stylesheet" type="text/css" href="static/history-style.css"/>
    <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="lib/dygraph/dygraph.min.js"></script>
    <script type="text/javascript" src="history.js"></script>
  </head>
  <body ng-app="RequestBlockerApp">
    <div class="container" ng-controller="HistoryController" ng-init="init()" style="width: 1320px;">
      <div class="header">
        <div>
          <h2 class="header-text"><img class="logo" src="images/extension_icons/icon-128.png" width="60" height="60"/><b style="padding-left: 2.25em;">HTTP Request Blocker</b></h2>
        </div>
        <div>
          <h3 class="header-text">
            <b><u>History Page</u></b>
          </h3>
        </div>
      </div>
      <hr class="hr-bar-top"/>
      <div class="content">
        <div class="vr"></div>
        <div class="content-patterns">
          <div class="content-patterns-header bg-light py-2 px-2 border border-2 border-secondary">
            <div title="Icon">
              <button class="btn btn-info" disabled>
                <b>Icon</b>
              </button>
            </div>
            <div class="pattern-url">
              <input type="text" class="form-control" value="Exact URL of what was blocked" title="Exact URL of what was blocked" style="font-weight: bold;" disabled/>
            </div>
            <div class="pattern-number-blocked">
              <u><input type="text" class="form-control text-center" value="#" title="Number of times blocked" style="font-weight: bold;" disabled/></u>
            </div>
            <div class="pattern-timestamp">
              <input type="text" class="form-control text-center" value="Timestamp/last blocked" title="Timestamp/last blocked (local time)" style="font-weight: bold;" disabled/>
            </div>
          </div>
          <div>
            <hr>
          </div>
          <div class="patterns overflow-x-hidden overflow-y-auto">
            <h2 class="patterns-empty-text text-danger text-center" ng-if="is_empty">
              <img src="images/misc/bug.svg" width="50"/>
              <br>
              <u>The extension has not blocked any website yet.<br>Therefore, history is empty.</u>
            </h2>
            <table class="table table-hover">
              <tr ng-repeat="(key, value) in page">
                <td class="pattern">
                  <div title="Icon">
                    <button class="btn btn-info" disabled>
                      <img class="mb-1" src="https://s2.googleusercontent.com/s2/favicons?domain={{key}}">
                    </button>
                  </div>
                  <div class="pattern-url">
                    <input type="text" class="form-control" ng-model="key" title="Exact URL of what was blocked" disabled/>
                  </div>
                  <div class="pattern-number-blocked">
                    <u><input type="text" class="form-control text-center" ng-model="value[0]" title="Number of times blocked" disabled/></u>
                  </div>
                  <div class="pattern-timestamp">
                    <input type="text" class="form-control text-center" ng-model="value[1]" title="Timestamp/last blocked (local time)" disabled/>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div>
            <hr>
          </div>
          <div class="paging text-center">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" ng-click="modalPageNumber()" title="Input a specific page number">
                <img class="mb-1" src="images/misc/file-earmark.svg"/>
                &nbsp;
                Input Page
              </button>
            </div>
            <div>
              <h5 class="my-0 py-0">
                <a class="btn btn-primary" role="button" title="Go to page 1" ng-if="show_page_arrow_left_icon" ng-click="firstPageNumber()">
                  <img class="mb-1" src="images/misc/chevron-double-left.svg"/>
                </a>
                <a class="btn btn-primary" role="button" title="Decrease page number by 1" ng-if="show_page_arrow_left_icon" ng-click="decreasePageNumber()">
                  <img class="mb-1" src="images/misc/arrow-left.svg"/>
                </a>
                &nbsp;
                <b>Page: <u title="Current page">{{page_number + 1}}</u> / <u title="Maximum page(s)">{{max_page}}</u></b>
                &nbsp;
                <a class="btn btn-primary" role="button" title="Increase page number by 1" ng-if="show_page_arrow_right_icon" ng-click="increasePageNumber()">
                  <img class="mb-1" src="images/misc/arrow-right.svg"/>
                </a>
                <a class="btn btn-primary" role="button" title="Go to page {{max_page}}" ng-if="show_page_arrow_right_icon" ng-click="lastPageNumber()">
                  <img class="mb-1" src="images/misc/chevron-double-right.svg"/>
                </a>
              </h5>
            </div>
            <div>
              <div class="dropdown" data-bs-theme="dark">
                <a class="btn btn-primary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Go to a specific page number">
                  Go to Page...
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item" ng-repeat="pageNumber in pageRange()" title="Go to Page #{{pageNumber}}" ng-click="dropdownMenuPageNumber(pageNumber)">Page #{{pageNumber}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="vr"></div>
        <div class="content-buttons">
          <div class="d-grid gap-2">
            <a class="btn btn-light" target="_blank" rel="noopener noreferrer" href="https://github.com/trien-hong/ChromeHttpRequestBlocker" role="button" title="Extension's repository">
              <img class="mb-1" src="images/misc/github.svg"/>
              &nbsp;
              GitHub Repo
            </a>
          </div>
          <div>
            <hr>
          </div>
          <div class="d-grid gap-2">
            <a class="btn btn-secondary" href="options.html" role="button" title="Options page">
              <img class="mb-1" src="images/misc/gear.svg"/>
              &nbsp;
              Options Page
            </a>
          </div>
          <div>
            <hr>
          </div>
          <div class="d-grid gap-2">
            <button class="btn {{button_is_pause_color}}" title="{{is_pause}}" ng-click="pause()">
              <img class="mb-1" src="images/misc/pause-circle.svg"/>
              &nbsp;
              {{is_pause}}
            </button>
          </div>
          <div>
            <hr>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" ng-click="searchHistory()" title="Search your history">
              <img class="mb-1" src="images/misc/search.svg"/>
              &nbsp;
              Search History
            </button>
          </div>
          <div>
            <hr>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-warning" ng-click="clearHistory()" title="Clear your history">
              <img class="mb-1" src="images/misc/x-octagon.svg"/>
              &nbsp;
              Clear History
            </button>
          </div>
          <div>
            <hr>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-info" ng-click="viewGraph()" title="View a graph of your blocked per day history">
              <img class="mb-1" src="images/misc/bar-chart-line.svg"/>
              &nbsp;
              View Graph
            </button>
          </div>
          <div>
            <hr>
          </div>
          <div class="text-center">
            <p>
              <img class="mb-1" src="images/misc/git.svg"/>
              &nbsp;
              <b>Extension's Version | v{{extension_version}}</b>
              &nbsp;
              <img class="mb-1" src="images/misc/git.svg"/>
            </p>
          </div>
        </div>
        <div class="vr"></div>
      </div>
      <hr class="hr-bar-bottom"/>
      <div class="footer">
        <div>
          <h3 class="footer-text">
            <b>
              Total Blocked Today: <u class="text-danger">{{total_blocked_today}}</u>
              <img class="mb-2" src="images/misc/shield-fill-x.svg" width="30"/>
            </b>
          <h3>
        </div>
      </div>
      <div class="modal fade" id="modal">
        <div class="modal-dialog {{modalSize}}">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                <b><u>{{modalTitle}}</u></b>
                <img class="mb-1" src="images/misc/bar-chart-line.svg" width="33" ng-if="show_modal_bar_chart_icon"/>
                <img class="mb-1" src="images/misc/keyboard.svg" width="33" ng-if="show_modal_input_icon"/>
                <img class="mb-1" src="images/misc/exclamation-octagon.svg" width="23" ng-if="show_modal_alert_icon"/>
                <img class="mb-1" src="images/misc/patch-question.svg" width="23" ng-if="show_modal_confirm_icon"/>
                <img class="mb-1" src="images/misc/check2-circle.svg" width="23" ng-if="show_modal_success_icon"/>
                <img class="mb-1" src="images/misc/bug.svg" width="23" ng-if="show_modal_error_icon"/>
              </h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" title="CLOSE ALERT"></button>
            </div>
            <div class="modal-body text-break">
              <h5 ng-class="modalClass" ng-if="show_modal_message_class" ng-bind-html="modalMessage"></h5>
              <div class="form-group" ng-if="show_modal_input">
                <label for="input" class="col-form-label"><h6>{{input_message}}</h6></label>
                <input type="text" class="form-control" id="input" placeholder="{{input_placeholder}}" title="Do not enter more than one at a time"/>
              </div>
              <div id="line_graph"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-if="show_modal_go_back_button" ng-click="this[error_function](error_parameter)" title="GO BACK">GO BACK</button>
              <button type="button" class="btn btn-success" ng-if="show_modal_confirm_button" ng-click="this[confirm_function](confirm_parameter)" title="YES">YES</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" ng-if="show_modal_confirm_button" title="NO">NO</button>
              <button type="button" class="btn btn-warning" ng-if="show_modal_clear_graph_button" ng-click="clearGraph()" title="CLEAR GRAPH">CLEAR GRAPH</button>
              <button type="button" class="btn btn-primary" ng-if="show_modal_input_button" ng-click="this[input_function](input_parameter)" title="{{modalTitle}}">{{modalTitle}}</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-if="show_modal_close_button" title="CLOSE ALERT">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>