<!DOCTYPE html>
<html>
  <head>
    <title>HTTP Request Blocker | Options</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/options-style.css"/>
    <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="options.js"></script>
  </head>
  <body ng-app="RequestBlockerApp">
    <div class="container" ng-controller="OptionsController" ng-init="init()" style="width: 1320px;">
      <div class="header">
        <div>
          <h2 class="header-text"><img class="logo" src="images/extension_icons/icon-128.png" width="60" height="60"/><b style="padding-left: 2.25em;">HTTP Request Blocker</b></h2>
        </div>
        <div>
          <h3 class="header-text">
            <b><u>Options Page</u></b>
          </h3>
        </div>
      </div>
      <hr class="hr-bar-top"/>
      <div class="content">
        <div class="vr"></div>
        <div class="content-patterns">
          <div class="content-patterns-header">
            <div>
              <button class="btn btn-secondary" ng-click="scrollUp()" title="Scroll up">
                <img class="mb-1 me-2" src="images/misc/arrow-up.svg"/>
                SCROLL UP
                <img class="mb-1 ms-2" src="images/misc/arrow-up.svg"/>
              </button>
            </div>
            <div class="vr"></div>
            <div>
              <h3><u>{{patterns.length}}</u> Pattern(s)</h3>
            </div>
            <div class="vr"></div>
            <div>
              <button class="btn btn-secondary" ng-click="scrollDown()" title="Scroll down">
                <img class="mb-1 me-2" src="images/misc/arrow-down.svg"/>
                SCROLL DOWN
                <img class="mb-1 ms-2" src="images/misc/arrow-down.svg"/>
              </button>
            </div>
          </div>
          <div>
            <hr>
          </div>
          <div class="patterns overflow-x-hidden overflow-y-auto">
            <h2 class="patterns-empty-text text-danger text-center" ng-if="is_empty">
              <img src="images/misc/bug.svg" width="50"/>
              <br>
              <u>Your patterns seems to be empty.<br>Try adding some patterns first.</u>
            </h2>
            <table class="table table-hover">
              <tr ng-repeat="i in patterns">
                <td class="pattern">
                  <div title="Icon">
                    <button class="btn btn-info" disabled>
                      <img class="mb-1" src="https://s2.googleusercontent.com/s2/favicons?domain={{i.pattern.substring(6, i.pattern.length-2)}}">
                    </button>
                  </div>
                  <div class="pattern-input">
                    <input type="text" class="form-control" ng-model="i.pattern" title="Add/Edit Pattern"/>
                  </div>
                  <div>
                    <button type="button" class="btn btn-danger" ng-click="removeByIndex(i)" title="Delete Pattern">
                      <img class="mb-1" src="images/misc/trash.svg" width="16"/>
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="vr"></div>
        <div class="content-buttons">
          <div class="d-grid gap-2">
            <a class="btn btn-light" target="_blank" rel="noopener noreferrer" href="https://github.com/trien-hong/ChromeHttpRequestBlocker" role="button" title="Extension's repository">
              <img class="mb-1 me-2" src="images/misc/github.svg"/>
              GitHub Repo
            </a>
          </div>
          <div class="d-grid gap-2">
            <a class="btn btn-info" href="history.html" role="button" title="URL blocked history page">
              <img class="mb-1 me-2" src="images/misc/clock-history.svg"/>
              History Page
            </a>
          </div>
          <div class="d-grid gap-2">
            <button class="btn {{button_is_pause_color}}" title="{{is_pause}}" ng-click="pause()">
              <img class="mb-1 me-2" src="images/misc/pause-circle.svg"/>
              {{is_pause}}
            </button>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" title="Reset your total blocked request to 0" ng-click="resetTotalBlocked()">
              <img class="mb-1 me-2" src="images/misc/arrow-clockwise.svg"/>
              Reset Total Blocked
            </button>
          </div>
          <div>
            <hr>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" ng-click="add()" title="Manually enter new site">
              <img class="mb-1 me-2" src="images/misc/plus-circle.svg"/>
              Add New Site
            </button>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" ng-click="save()" title="Save your recent changes">
              <img class="mb-1 me-2" src="images/misc/save2.svg"/>
              Save Patterns
            </button>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" ng-click="exportPatterns()" title="Download your patterns">
              <img class="mb-1 me-2" src="images/misc/cloud-download.svg"/>
              Export Patterns
            </button>
          </div>
          <div>
            <hr>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-warning" ng-click="searchAndRemove()" title="Search and remove a specific pattern">
              <img class="mb-1 me-2" src="images/misc/search.svg"/>
              Search & Remove Pattern
            </button>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-warning" ng-click="clearPatterns()" title="Clear your patterns">
              <img class="mb-1 me-2" src="images/misc/x-octagon.svg"/>
              Clear Patterns
            </button>
          </div>
          <div>
            <hr>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" ng-click="uploadFile()" title="Upload selected file">
              <img class="mb-1 me-2" src="images/misc/cloud-upload.svg"/>
              Upload File (.txt)
            </button>
          </div>
          <div>
            <input class="form-control" id="file" type="file" accept="text/plain" title="Choose a file (.txt)">
          </div>
          <div>
            <hr>
          </div>
          <div class="text-center">
            <p>
              <img class="mb-1 ms-2" src="images/misc/git.svg"/>
              <b>Extension's Version | v{{extension_version}}</b>
              <img class="mb-1 me-2" src="images/misc/git.svg"/>
            </p>
          </div>
        </div>
        <div class="vr"></div>
      </div>
      <hr class="hr-bar-bottom"/>
      <div class="footer">
        <div>
          <h3 class="footer-text">
            <b>
              Total Blocked Request(s): <u class="text-danger">{{total_blocked}}</u>
              <img class="mb-1" src="images/misc/shield-fill-x.svg" width="30"/>
            </b>
          <h3>
        </div>
      </div>
      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="images/extension_icons/icon-16.png" class="rounded me-2">
            <strong class="me-auto">{{toastTitle}}</strong>
            <b><u><small>{{toastSubtitle}}</small></u></b>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" title="Close alert"></button>
          </div>
          <div class="toast-body">
            <b><p ng-bind-html="toastMessage"></p></b>
            <div ng-if="show_toast_save_button">
              <div>
                <hr>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary" ng-click="save()" title="Save your recent changes">
                  <img class="mb-1 me-2" src="images/misc/save2.svg"/>
                  Save Patterns
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal">
        <div class="modal-dialog {{modalSize}}">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                <b><u>{{modalTitle}}</u></b>
                <img class="mb-1" src="images/misc/keyboard.svg" width="33" ng-if="show_modal_input_icon"/>
                <img class="mb-1" src="images/misc/patch-question.svg" width="23" ng-if="show_modal_confirm_icon"/>
                <img class="mb-1" src="images/misc/exclamation-octagon.svg" width="23" ng-if="show_modal_alert_icon"/>
                <img class="mb-1" src="images/misc/check2-circle.svg" width="23" ng-if="show_modal_success_icon"/>
                <img class="mb-1" src="images/misc/bug.svg" width="23" ng-if="show_modal_error_icon"/>
              </h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" title="CLOSE ALERT"></button>
            </div>
            <div class="modal-body text-break">
              <h5 ng-class="modalClass" ng-if="show_modal_message_class" ng-bind-html="modalMessage"></h5>
              <div class="form-group" ng-if="show_modal_input">
                <label for="input" class="col-form-label"><h6>{{input_message}}</h6></label>
                <input type="text" class="form-control" id="input" placeholder="{{input_placeholder}}" title="Do not enter more than one at a time"/>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-if="show_modal_go_back_button" ng-click="this[error_function](error_parameter)" title="GO BACK">GO BACK</button>
              <button type="button" class="btn btn-success" ng-if="show_modal_confirm_button" ng-click="this[confirm_function](confirm_parameter)" title="YES">YES</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" ng-if="show_modal_confirm_button" title="NO">NO</button>
              <button type="button" class="btn btn-primary" ng-if="show_modal_input_button" ng-click="this[input_function](input_parameter)" title="{{modalTitle}}">{{modalTitle}}</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-if="show_modal_close_button" title="CLOSE ALERT">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>