<!DOCTYPE html>
<html>
  <head>
    <title>HTTP Request Blocker</title>
    <script src="lib/jquery/jquery.min.js"></script>
    <link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-sanitize.min.js"></script>
    <script src="popup.js"></script>
    <link href="static/popup-style.css" rel="stylesheet">
  </head>
  <body ng-app="RequestBlockerApp">
    <div class="container" ng-controller="PopupController" ng-init="init()" style="width: 500px; height: 500px">
      <div class="header pt-3">
        <div>
          <img class="mb-1" src="images/extension_icons/icon-128.png" width="45" height="45"/>
        </div>
        <div>
          <h1><b>HTTP Request Blocker</b></h1>
        </div>
        <div>
          <img class="mb-1" src="images/extension_icons/icon-128.png" width="45" height="45"/>
        </div>
      </div>
      <div>
        <hr/>
      </div>
      <div class="text-center">
        <div>
          <button class="btn btn-info" disabled>
            <img class="mb-1" src="https://s2.googleusercontent.com/s2/favicons?domain={{website}}" width="25px" height="25px">
          </button>
          <h2 class="website"><u>{{website}}</u><h2>
        </div>
      </div>
      <div>
        <hr/>
      </div>
      <div class="text-center">
        <h3>{{currentSiteStatus}}</h3>
        <button class="btn btn-primary" ng-click="addCurrentSite()" ng-if="is_not_blocked" title="Block the current site">
          <img class="mb-1" src="images/misc/plus-circle.svg"/>
          &nbsp;
          Add Current Site
        </button>
        <button class="btn btn-primary" ng-click="unblockCurrentSite()" ng-if="is_blocked" title="Unblock the current site">
          <img class="mb-1" src="images/misc/x-circle.svg"/>
          &nbsp;
          Unblock Current Site
        </button>
      </div>
      <div>
        <hr/>
      </div>
      <div class="total_number_blocked text-center">
        <h3>Total Blocked Request(s): <u class="text-danger">{{total_blocked}}</u>&nbsp;<img src="images/misc/shield-fill-x.svg" width="30"/><h3>
      </div>
      <div>
        <hr/>
      </div>
      <div class="content-buttons pb-3">
        <div>
          <button class="btn {{button_is_pause_color}}" title="{{is_pause}}" ng-click="pause()">
            <img class="mb-1" src="images/misc/pause-circle.svg"/>
            &nbsp;
            {{is_pause}}
          </button>
        </div>
        <div>
          <a class="btn btn-secondary" target="_blank" rel="noopener noreferrer" href="options.html" role="button" title="Options page">
            <img class="mb-1" src="images/misc/gear.svg"/>
            &nbsp;
            Options
          </a>
        </div>
        <div>
          <a class="btn btn-light" target="_blank" rel="noopener noreferrer" href="https://github.com/trien-hong/ChromeHttpRequestBlocker" role="button" title="Extension's repository">
            <img class="mb-1" src="images/misc/github.svg"/>
            &nbsp;
            GitHub Repo
          </a>
        </div>
      </div>
      <div class="modal fade" id="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
                <u><b>{{modalTitle}}</b></u>
                <img class="mb-1" src="images/misc/patch-question.svg" width="23" ng-if="show_modal_confirm_icon"/>
                <img class="mb-1" src="images/misc/exclamation-octagon.svg" width="23" ng-if="show_modal_alert_icon"/>
                <img class="mb-1" src="images/misc/check2-circle.svg" width="23" ng-if="show_modal_success_icon"/>
                <img class="mb-1" src="images/misc/bug.svg" width="23" ng-if="show_modal_error_icon"/>
              </h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" title="CLOSE ALERT"></button>
            </div>
            <div class="modal-body">
              <h5 ng-class="modalClass" ng-bind-html="modalMessage"></h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" ng-if="show_modal_confirm_button" ng-click="this[function](parameter)" title="YES">YES</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" ng-if="show_modal_confirm_button" title="NO">NO</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-if="show_modal_close_button" title="CLOSE ALERT">CLOSE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>